{% extends 'base.html' %}

{% block head %}
<title>WhatsApp Automation</title>

{% endblock %}


{% block body %}
<h1>WhatsApp Automation</h1>
<form action="{{ url_for('Send')}}" method="POST">
	<div>
		<label for="user_msg">Message :</label>
    	<input id="user_msg" name="user_msg" type="text">
	</div>
    
	<div>
		<label for="file">Upload CSV :</label>
    	<input id="file" name="file" type="file">
	</div>
    
    <br><br>
    <h3>{{ prediction_text }}</h3>
    <button id="Send" class="btn btn-primary" type="submit ">Send
                </button>
</form>
<form action="{{url_for('status')}}", method="POST">
	<button id="status" type="submit">Status
	</button>
</form>

<table border= 1 id="status">

<tr>
	<th>MSISDN</th>
    <th>Message</th>
    <th>Sent Time</th>
</tr>
{% for user in userDetails %}
<tr>
    <td>{{user[0]}}</td>
    <td>{{user[1]}}</td>
    <td>{{user[2]}}</td>
</tr>
{% endfor %}
</table>


{% endblock %}









